In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import folium

In [ ]:
df0 = pd.read_csv("https://cocl.us/sanfran_crime_dataset")
df0.head()

In [121]:
df0 = df0.reset_index()
df0.columns = ['District', 'Number']

ValueError: Length mismatch: Expected axis has 14 elements, new values have 2 elements

In [10]:
df1=df0[['PdDistrict']]
df1

        PdDistrict
0         SOUTHERN
1         SOUTHERN
2          BAYVIEW
3       TENDERLOIN
4          MISSION
...            ...
150495        PARK
150496     CENTRAL
150497     CENTRAL
150498     CENTRAL
150499    SOUTHERN

[150500 rows x 1 columns]

In [78]:
l = ['Central'.upper(),'Southern'.upper(),'Bayview'.upper(),'Mission'.upper(),
     'Park'.upper(),'Richmond'.upper(),'Ingleside'.upper(),
     'Taraval'.upper(),'Northern'.upper(),'Tenderloin'.upper()]

column_names = ["Neighborhood", "Count"]
df2 = pd.DataFrame(columns = column_names)

df2['Neighborhood']=l
df2['Count']=0

df2.head()

  Neighborhood  Count
0      CENTRAL      0
1     SOUTHERN      0
2      BAYVIEW      0
3      MISSION      0
4         PARK      0

In [80]:
for i in df1[['PdDistrict'][0]] :
    lis = df2.index[df2['Neighborhood'] == i].tolist()
    df2.loc[lis,['Count']]+=1
df2

  Neighborhood  Count
0      CENTRAL  17666
1     SOUTHERN  28445
2      BAYVIEW  14303
3      MISSION  19503
4         PARK   8699
5     RICHMOND   8922
6    INGLESIDE  11594
7      TARAVAL  11325
8     NORTHERN  20100
9   TENDERLOIN   9942

In [96]:
df2.to_json('df2.json')

In [95]:
map1 = folium.Map(location=SF_COORDINATES, zoom_start=12)

map1.choropleth(geo_data = 'https://cocl.us/sanfran_geojson', 
              data_out = 'df2.json', 
              data = df0,
              columns = ['District', 'Number'],
              key_on = 'feature.properties.DISTRICT',
              fill_color = 'YlOrRd', 
              fill_opacity = 0.7, 
              line_opacity = 0.2,
              legend_name = 'Number of incidents per district')

display(map1)

TypeError: 'NoneType' object is not subscriptable